/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: 0;
  padding: 0px 40px 40px 40px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}

#mask {
  color: rgb(163, 160, 148);
  opacity: 0.8;
}

#heyThere {
  padding-top: 7rem;
}

#signIn {
  float: left;
  text-decoration: none;
  padding: none;
  color: white;
}

#signIn:visited {
  color: white;
}
